<% if products.any? %>
<ul class="inline product-listing related-products" data-hook>
  <% products.each do |product| %>
    <li id="product_<%= product.id %>" class="columns two <%= cycle("alpha", "", "", "", "omega", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
      <div class="product-image">
        <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
      </div>
      <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
      <span class="price selling" itemprop="price"><%= display_price(product) %></span>
    </li>
  <% end %>
  <% reset_cycle("classes") %>
</ul>

<% if products.respond_to?(:num_pages) && products.num_pages > 1 %>
<div style="clear:both">
	<%= link_to Spree.t('more') + ' ' + taxon.name + ' >>', spree.nested_taxons_path(taxon.permalink) %>
<% end %>
<% end %>